.Form {
  border: 1px solid #999;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
  background-color: var(--color-auth);
  transition: 0.6s;
}

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.6s;
}
