.Lines {
  composes: FlexCenter from '../../../App.module.css';
  height: 80px;
  width: 100%;
  border: 1px solid #999;
  color: #000;
  font-size: 1rem;
  transition: 0.6s;
  background-color: #c5c6ca;
}

.Lines:hover {
  transition: 0.4s;
  background-color: rgb(169, 169, 169);
}

@media screen and (max-width: 500px) {
  .Lines {
    height: 60px;
  }
}
