.HeaderLine {
  composes: FlexCenter from '../../../App.module.css';
  height: 50px;
  border: 1px solid #999;
  background-color: var(--background-table);
  font-size: 1rem;
  border-radius: 5px 5px 0 0;
  word-wrap: break-word;
  color: #fff;
  transition: 0.6s;
}

@media screen and (max-width: 500px) {
  .HeaderLine {
    height: 30px;
  }
}
