.HeaderLine {
  composes: FlexCenter from '../../../App.module.css';
  height: 50px;
  border: 1px solid #999;
  background-color: rgb(65, 135, 192);
  font-size: 1.2rem;
  border-radius: 5px 5px 0 0;
  word-wrap: break-word;
  color: #c8c8c8;
  transition: .6s;
}

.HeaderLineBlackTheme {
  composes: HeaderLine;
  background-color: #2F4F4F;
  transition: .6s;
}
