.Wrapper {
  position: fixed;
  top: 8rem;
  right: 5rem;
  min-width: 15rem;
  min-height: 2rem;
  border-radius: 5px;
  background-color: #000214;
  color: #fff;
  border: 1px solid #0320ef;
  transition: 1s;
  opacity: 0;
  animation: show 4ms 1;
  animation-fill-mode: forwards;
  z-index: 9999;
}

.Status {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 10px;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
