.SelectMain {
  display: flex;
  flex-direction: column;
  width: 25%;
  font-size: 15px;
  margin: 1rem 1rem 1rem 1rem;
  color: rgb(0, 0, 0);
}

.Label {
  font-size: 13px;
  color: #969696;
}

.Select {
  height: 2.8rem;
  width: 100%;
  cursor: pointer;
  border: 1px solid #000214;
  color: #696969;
  border-radius: 5px;
  font-size: 15px;
  padding: 8px;
  background-color: #e2e2e2;
}

.ErrorSelectMain {
  composes: SelectMain;
  color: rgb(248, 122, 99);
  font-weight: 200;
}

.Error {
  border: 1px solid rgb(248, 122, 99);
}

.Important {
  color: red;
  font-size: 13px;
}

@media screen and (max-width: 500px) {
  .SelectMain {
    width: 40%;
    margin: 5px;
  }
  .Select {
    padding: 8px;
    width: 100%;
    font-size: 12px;
    margin-bottom: 3px;
    height: 2.2rem;
  }
  .Label {
    font-size: 12px;
  }
  .Important {
    font-size: 10px;
  }
}
