.Wrapper {
  position: absolute;
  background-color: rgb(201, 201, 201);
  z-index: 10;
  height: 109.9vh;
  width: 100vw;
  opacity: 0.9;
  cursor: pointer;
}

.ModalTemplate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 9999;
  animation: ModalTemplate 1000ms ease-out forwards;
  background-color: var(--background-modal);
  width: 750px;
  margin-top: 80px;
}

.Cross {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-title);
}

@keyframes ModalTemplate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 500px) {
  .ModalTemplate {
    margin-top: 80px;
    width: 100%;
    height: 75%;
  }
  .Cross {
    right: 15px;
    top: -5px;
    font-size: 40px;
  }
}
