.ButtonMain {
  margin-bottom: 10px;
}

.ButtonMain button {
  background-color: var(--background-table);
  width: 150px;
  height: 60px;
  font-size: 20px;
  transition: 0.6s;
}

@media screen and (max-width: 500px) {
  .ButtonMain button {
    width: 100px;
    height: 40px;
    font-size: 15px;
  }
}
