.Logout {
  position: absolute;
  right: 1rem;
  font-size: 20px;
  color: #b9b8b8;
  cursor: pointer;
  z-index: 9999999;
}

.Logout:hover {
  text-decoration: none;
  color: #999;
  transition: 0.6s;
}

@media screen and (max-width: 500px) {
  .Logout {
    font-size: 11px;
    z-index: 0;
  }
}
