.Theme {
  width: 4rem;
  left: 1rem;
  position: relative;
}

input[type='checkbox'].Switch {
  appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
  z-index: 1;
}

input[type='checkbox'].Switch:checked + svg.Checkbox .IsChecked {
  opacity: 1;
}

input[type='checkbox'].Switch:checked + svg.Checkbox .IsUnchecked {
  opacity: 0;
}

svg.Checkbox .IsChecked {
  opacity: 0;
  fill: yellow;
  transition: 0.35s;
}

svg.Checkbox .IsUnchecked {
  opacity: 1;
  fill: #fff;
  transition: 0.35s;
}

@media screen and (max-width: 500px) {
  .Theme {
    width: 3rem;
    left: -5rem;
  }
}
