.SidebarMain {
  position: fixed;
  top: 0;
  bottom: 20px;
  left: 0;
  width: 15rem;
  height: 100%;
  background-color: var(--color-background-sidebar);
  transition: 0.6s;
  z-index: 9999;
}

.SidebarAllList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 70px;
  padding-left: 50px;
}

.SidebarList {
  list-style: none;
  margin-left: 1.5rem;
}

.SidebarLink {
  color: #b1aeae;
}

.SidebarLink:hover {
  color: #b1aeae;
}

.Wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 17rem;
  height: 90vh;
  width: 75vw;
  z-index: 999999;
}

@media screen and (max-width: 500px) {
  .SidebarMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .SidebarAllList {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }

  .SidebarList {
    list-style: none;
  }
}
