.FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  composes: FlexCenter;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(226, 240, 255);
  transition: 0.6s;
}

.AppBlackTheme {
  composes: FlexCenter;
  composes: App;
  background-color: rgb(31, 31, 31);
}